body {
  background-color: #CEE5D0;
   }

hr {
 border-top-style: none;
 border-right-style: none;
 border-left-style: none;
 border-bottom-style: dotted;
 border-width: 5px;
 width: 3.5%;
 border-color: #9D5C0D;
}
